.demo {
  position: absolute;
  width: 120px;
  height: 65px;
  top: 50%;
  right: -130px;
  margin-top: -33px;
  -webkit-transition: right .2s;
          transition: right .2s;
}
.demo_open {
  right: 0;
}
.demo__ico {
  display: block;
  position: absolute;
  top: 0;
  left: -39px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #30363c;
  border: 1px solid #272c30;
  border-right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.demo__ico:before {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background: url('../img/paint.svg') 50% 50% no-repeat;
  background-size: contain;
}
.demo__cont {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  background-color: #30363c;
  border: 1px solid #272c30;
  border-bottom-left-radius: 4px;
}
.demo__group {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(36, 41, 44, 0.5);
}
.demo__group:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.demo__label {
  color: #5e6870;
  font-size: 14px;
  line-height: 16px;
}
.demo__screen {
  white-space: nowrap;
}
.demo__size {
  display: inline-block;
  margin-right: 8px;
  color: #5e6870;
  font-size: 18px;
  cursor: pointer;
}
.demo__size_active {
  color: #fff;
}
.demo__size .fa {
  vertical-align: bottom;
}
.demo__themes {
  margin-top: 3px;
}
.demo__theme {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-radius: 2px;
  margin-right: 5px;
  cursor: pointer;
}
.demo__theme_active {
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.demo__theme_lilac {
  background-color: #582266;
}
.demo__theme_dark {
  background-color: #272c30;
}
